<hr />



<hr />

<h3>Custom Pipe Test Summery example</h3>

<P class="jumbotron mt-3"> {{ text | summary: 30 }} </P>

<hr />

<h2>{{ courses.title | uppercase  | lowercase }} </h2> <br />
<h2>{{ courses.Rating | number: '2.1-1'}} </h2> <br />
<h2>{{ courses.Student | number }} </h2> <br />
<h2>{{ courses.price | currency: 'INR': true: '3.2-2' }} </h2> <br />
<h2>{{ courses.releseDate | date:'shortDate' }} </h2> <br />

<hr />

<h2> {{ authors.length}}  authors </h2>

<img src='{{ imageUrl }}' height='200px' width='200px' />
<!-- <img src[] = "titleImage" /> -->

<ul>
  <li *ngFor="let author of authors"> 
    {{ author }} 
  </li>
</ul>
<ul>
  <li *ngFor="let family of familyMembers"> {{ family }} </li>
</ul>

<hr />

<table style='border:1px solid #000;'>
  <tr>
    <td [attr.colspan]='colSpan'> Test Here </td>
  </tr>
</table>
<br />

<hr />

<button class="btn btn-primary" > Save </button> <br /><br />
 
<button [class.active] ="isActive"> Is Active </button> <br /><br />

<button [style.backgroundColor]="isActive ? '#71a3ff' : 'white'"> Style Background </button> <br /><br />

<hr />
<section (click)="sectionClick($event)">
  <div (click)="onDivClick($event)">
    <button (click)="onSave($event)" > OnSave Click</button>
  </div>
</section>
<div>
  <!-- <input (keyup)="onKeyUp($event)" /> -->
  <input (keyup.enter)="onKeyUp()" /> <br /> <br />
    
  <input #address (keyup.enter)="onKeyUpNew(address.value)" /> <br /><br />

  <!-- NNew way of codeing same on Enter geeting the text box values  -->

  <!-- <input [value]="email" (keyup.enter)="email = $event.target.value; onKeyUpBind()" /> /// below line are update code  -->
  <input [(ngModel)] = "email" (keyup.enter)= "onKeyUpBind()" />  <br /><br />
  
  <hr />

  <input [(ngModel)]="name" #ctrl="ngModel" required  >
 
    <p>Value: {{ name }}</p>

    <p>Valid: {{ ctrl.valid }}</p>
    
    <button (click)="setValue()">Set value</button>

    <hr />

</div>

