/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";


body {
    padding: 15px;
    font-size: 16px;
}
.red {
    color: red;
    cursor: pointer;
    font-size: 1.5rem;
}
.green {
    color: green;
    cursor: pointer;
    font-size: 2rem;
}
.icon {
    font-size: 5rem;
}
.component-name {
    color: brown;
    font-size: 2rem;
    background-color: #f1f1f1;
    padding: 15px;
    border-radius: 8px;
}