<!-- <span class="glyphicon"
  [class.glyphicon-star]= 'isFavorite'
  [class.glyphicon-star-empty]= '!isFavorite'
  (click)="onCLick()"
> Favorite Icon Select and unselect - 
</span> -->

<span class="icon glyphicon"
  [class.glyphicon-star]= 'isSelected'
  [class.glyphicon-star-empty]= '!isSelected'
  (click)="onCLick()"
> 
<!-- <button class="btn btn-primary">Change Color </button> -->
</span>
<br />
<h2> Other way of using Selecting the facorite Icons using <small>" ngClass "</small> </h2>
<span class="icon glyphicon"
  [ngClass]="{
    'glyphicon-star': !isSelected,
    'glyphicon-star-empty': isSelected
  }"
  (click)="onCLick()"
> 

</span>

<!-- 
<p   
[class.red]= 'isSelected'
[class.green]= '!isSelected'
> 
Sample Text clieck color changes

</p> -->